image: yusdacra/nix-flake:latest

variables:
  CACHIX_NAME: cachix_name
before_script:
  - . /bin/pre-build.sh
after_script:
  - . /bin/post-build.sh

check:
  stage: build
  script:
    - nix develop -c check
